<%= render 'layouts/header' %>

<div class="container-registration">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<style>
    .form-control {
      margin: 10px 15px;
      padding: 10px 15px;
      border: 1px solid #ccc; /* 薄いグレーのボーダー */
      border-radius: 4px;
      color: black;
    }

    .form-label {
        display: block;    
    }

    .btn {
      margin: 10px 15px;
      padding: 10px 15px;
      border: 1px solid #ccc; /* 薄いグレーのボーダー */
      border-radius: 4px;
      background-color: #faa61a;
      color: white;
    }
</style>
