<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <% if !logged_in? %>
          <h1>Practice Matching!@2025</h1>
        <% else %>
          <%= link_to '<i class="fas fa-home"></i>'.html_safe, '#', class: "icon-link" %>

          <%= link_to '募集', new_practice_match_path, class: "button icon-link" %>

          <%= link_to '<i class="fas fa-bell"></i>'.html_safe, '#', class: "icon-link" %>
    
          <%= link_to '<i class="fas fa-comments"></i>'.html_safe, '#', class: "icon-link" %>

          <% if current_user&.profile.present? %>
            <%= link_to '<i class="fas fa-user"></i>'.html_safe, profile_path, class: "icon-link" %>
          <% else %>
            <%= link_to '<i class="fas fa-user"></i>'.html_safe, new_profile_path, class: "icon-link" %>
          <% end %>
        <% end %>
      </div>
    </div> 
  </div>
</div>
