<header id='header' class='header-top'>
  <div class='container-header'>
    <%= link_to 'Practice Maching', root_path %>
    <div class="hamburger-menu" id="hamburger-menu">
      <div class="menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul id="menu-items" class="hidden">
        <% if !logged_in? %>
          <li>
            <%= link_to 'ログイン', login_path %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_path %>
          </li>
          <li>
            <%= link_to 'パスワードを忘れた方', '#' %>
          </li>
          <li>
            <%= link_to '利用規約', '#' %>
          </li>
          <li>
            <%= link_to 'プライバシーポリシー', '#' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
          </li>
          <li>
            <%= link_to '利用規約', '#' %>
          </li>
          <li>
            <%= link_to 'プライバシーポリシー', '#' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<style>
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #faa61a;
    color: white;
  }

  .hamburger-menu {
    cursor: pointer;
    margin-left: auto;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }

  .bar {
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px 0;
  }

  #menu-items.hidden {
    display: none;
  }
</style>

<script>
  function toggleMenu() {
    const menuItems = document.getElementById('menu-items');
    menuItems.classList.toggle('hidden');
  }
</script>
